.experience   {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem 2rem;
    padding: 0;
    list-style: none;
}

.experience .title {
    font-weight: bold;
}

.experience .time {
    margin: 1rem 0.5rem;
}

.experience .tasks {
    margin-bottom: 2rem;
    margin-left: 0.5rem ;
}